<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Joshua Bartkoske</a></li>
		        	<li><a href="/about">About</a></li>
					<li><a href="/about">Research</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

				{% include header.html %}
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<div class="email">email: joshua.<span>bartkoske@</span>utah.<span>umail.</span>edu</div>
	        		<li><a href="https://github.com/JoShuaBartkoske">github.com/JoShuaBartkoske</a></li>
				</ul>
			</footer>
		</body>
	</html>
